* {
  font-family: raleway, sans-serif;
  color: #333333;

  transition: all .6s ease;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  background: white;
  width: 100%;
  z-index: 100;

  border-bottom: 1px solid ghostwhite;

}

nav h3 {
  margin-left: 10px;

  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 25px;
}

nav h3 span {
  font-weight: 700;
}

.hamburger {
  position: absolute;
  right: 25px;
  top: 10px;
  width: 25px;
  height: 25px;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  margin: 6px 0;

  background: grey;
}

.menu {
  display: none;

  list-style: none;
  width: auto;
  /*display: inline-block;*/
  padding: 20px;
  position: absolute;
  right: 0;

  text-align: right;
}

.menu li {
  padding: 5px;
}

.menu li a {
  text-decoration: none;

}

.menu li a:hover {
  border-bottom: 1px solid grey;
}

/*main*/

.content {
  margin: 50px 10px 0;
}

.content .title {
  margin: 0;
  padding: 40px 10px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container {
  position: relative;
}

.hero .container p {
  opacity: 0;
  z-index: -1;

  font-size: 10px;
  letter-spacing: 1px;
  line-height: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

.hero .container .left {
  position: absolute;
  top: 40%;
  right: 116px;
  width: 100%;
}

.hero .container:hover .left {
  right: 160px;
}

.hero .container .right {
  position: absolute;
  top: 40%;
  left: 140px;
  width: 100%;
}

.hero .container:hover .right {
  left: 170px;
}

.hero .container:hover p {
  opacity: 1;
  visibility: visible;

}

.hero .container .circle {
  padding: 25px;
  margin: 50px;
  z-index: 2;

  background: white;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.hero img {
  width: 50px;
}

.port-cube {
  border: 10px solid white;
  background: #F9F9F9;
  height: 300px;
  overflow: hidden;
}

.port-cube.sam {
  background: url('../img/sam-preview-bkg.png');
  background-size: cover;
}

.port-cube.xbox {
  background: url('../img/xbox-preview-bkg.png');
  background-size: cover;
}

.port-cube.cupcake {
  background: url('../img/cupcake-preview-bkg.png');
  background-size: cover;
}

.port-cube.three {
  background: url('../img/three-preview-bkg.png');
  background-size: cover;
}

.port-cube.ice {
  background: url('../img/ice-preview-bkg.png');
  background-size: cover;
}

.port-cube.comic {
  background: url('../img/comic-preview-bkg.png');
  background-size: cover;
}


.port-cube .image-preview {
  display: flex;
  justify-content: center;
  height: 100%;
}

.port-cube .image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.go-to-page {
  position: absolute;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*right: 0;*/
  top: 35%;
  padding: 20px;
  background: rgba(255, 255, 255, .85);
  width: 100%;

  right: 100%;
}

.port-cube:hover .go-to-page {
  right: 0;
}

.go-to-page .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  text-align: right;
}

.go-to-page .title span {
  display: block;
  font-weight: 300;
}

.go-to-page .cta {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  font-weight: 300;
  padding-left: 10px;

  cursor: pointer;

}

.port-modal .close {
  position: absolute;
  left: 12%;
  top: 5%;
}

.port-modal .close img {
  width: 15px;
  height: 15px;
}

.port-modal .modal-content {
  background: white;
  width: 80%;
  margin: 0 10%;
  padding: 0 20px;
}

.port-modal header h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 0;
  margin: 0;
  text-align: center;
}

.port-modal .about {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.port-modal p {
  font-size: 13px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  line-height: 30px;
  padding: 0 10%;
}

.port-modal .label {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.port-modal .title h1{
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.port-modal img {
  max-width: 100%;
}

.other-things {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.other-things h2 {
  font-size: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  display: inline-block;
  margin: 10px 0;
}

.other-things a {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  border-bottom: 1px solid #EFEEEE;
  padding: 10px;
}

footer {
  padding: 20px;
  border-top: 1px solid ghostwhite;
  overflow: hidden;
}

footer * {
  float: left;
}

footer p {
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
}

footer .copyright {
  float: right;
}

footer a {
  text-decoration: none;
  font-size: 10px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  border-bottom: 1px solid #EFEEEE;
  padding: 10px;
  margin-right: 10px;
}

a:hover {
  border-bottom: 1px solid #CACACA;
}

@media (max-width: 800px) {
  .port-cube {
    width: 100%;
  }

  .port-cube .go-to-page {
    right: 0;
  }
}
